<section id="experience" class="my-5">
  <h2>Experience</h2>
  <div class="job">
    <h4>Software Engineer Inten</h4>
    <p>Technovate Solutions, Ahmedabad, Gujarat</p>
    <p><strong>Duration:</strong> January 2025 - Present</p>
    <p><strong>Responsibilities:</strong></p>
    <ul>
      <li>
        Developing and maintaining web applications using modern frameworks.
      </li>
      <li>
        Working closely with cross-functional teams to define and design new
        features.
      </li>
      <li>Debugging and troubleshooting issues in existing applications.</li>
    </ul>
    <p>
      <strong>Technologies Used:</strong> Html, CSS, JavaScript, Angular,
      TypeScript
    </p>
  </div>

  <div class="job">
    <h4>Software Intern</h4>
    <p>Flourish infotech Pvt. Ltd., Ahmedabad, Gujarat</p>
    <p><strong>Duration:</strong> June 2023 - June 2023</p>
    <p><strong>Responsibilities:</strong></p>
    <ul>
      <li>
        Assisted in the development of web applications using HTML, CSS,
        JavaScript, Angular, PHP, and MySQL.
      </li>
      <li>
        Collaborated with the design team to implement user-friendly interfaces.
      </li>
      <li>
        Participated in code reviews and contributed to improving code quality.
      </li>
    </ul>
    <p>
      <strong>Technologies Used:</strong> HTML, CSS, JavaScript, Angular, PHP
    </p>
  </div>
  <h3>Certifications</h3>
  <ul>
    <li>Certified Java language - Internshala (2022)</li>
    <li>Certified Java language - Internshala (2022)</li>
    <li>Data Science with Python - Coursera (2023)</li>
  </ul>
</section>
