<div class="container">
  <a href="public\resume.pdf" class="Rst" target="_blank" download="Resume.pdf">
    <button class="Resume">Resume</button>
  </a>
</div>

<h2 class="name">Meet Ponkiya</h2>
<h4 class="profession">Full Stack Developer</h4>

<div class="circle">
  <img src="../../../assets/Meet.jpg" alt="error" class="profile-pic" />
</div>

<div class="social-media">
  <a href="https://www.linkedin.com/feed/" target="_blank">
    <img
      src="https://static.vecteezy.com/system/resources/previews/018/930/480/non_2x/linkedin-logo-linkedin-icon-transparent-free-png.png"
      class="size"
      alt="LinkedIn"
    />
  </a>
  <a href="https://github.com/" target="_blank">
    <img
      src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
      class="size1"
      alt="GitHub"
    />
  </a>
</div>
