<section id="about-me" class="about-me-section">
  <h1>Meet Ponkiya</h1>
  <h6>
    Dedicated to full stack development, I am skilled in both front-end and
    back-end. On the front end, I use HTML, CSS, JavaScript, and Angular as
    frameworks. For the back end, I use PHP and ASP.NET Core as frameworks.
  </h6>
</section>

<section class="technologies-section">
  <div class="tech-container">
    <h3>Technologies</h3>
    <ul class="tech-list">
      <li>HTML5</li>
      <li>CSS</li>
      <li>Java</li>
      <li>JavaScript</li>
      <li>Angular</li>
      <li>PHP</li>
      <li>Python</li>
      <li>MySQL</li>
    </ul>
  </div>
</section>