<br />
<div class="projects-container">
  <div class="project-card">
    <h2 class="title">E-commerce</h2>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Virat_Kohli_in_New_Delhi_in_December_2018.jpg/260px-Virat_Kohli_in_New_Delhi_in_December_2018.jpg"
      alt="show"
      class="image"
    />
    <div class="div1">
      <h5 class="p1">
        <ul>
          <li>
            Fully functional E-commerce website with features like login, add to
            cart, checkout, and payment gateway.
          </li>
          <li>Technologies used: HTML, CSS, JavaScript.</li>
        </ul>
        <button class="btn1">HTML</button>
        <button class="btn1">CSS</button>
        <button class="btn1">JAVASCRIPT</button>
      </h5>
    </div>
    <a href="https://github.com/Meet47p/Portfolio.git" target="_blank">
      <button class="git">GITHUB</button>
    </a>
  </div>

  <!-- Repeat the project card for additional projects -->
  <div class="project-card">
    <h2 class="title">E-commerce</h2>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Virat_Kohli_in_New_Delhi_in_December_2018.jpg/260px-Virat_Kohli_in_New_Delhi_in_December_2018.jpg"
      alt="show"
      class="image"
    />
    <div class="div1">
      <h5 class="p1">
        <ul>
          <li>
            Fully functional E-commerce website with features like login, add to
            cart, checkout, and payment gateway.
          </li>
          <li>Technologies used: HTML, CSS, JavaScript.</li>
        </ul>
        <button class="btn1">HTML</button>
        <button class="btn1">CSS</button>
        <button class="btn1">JAVASCRIPT</button>
      </h5>
    </div>
    <a href="https://github.com/Meet47p/Portfolio.git" target="_blank">
      <button class="git">GITHUB</button>
    </a>
  </div>

  <div class="project-card">
    <h2 class="title">E-commerce</h2>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Virat_Kohli_in_New_Delhi_in_December_2018.jpg/260px-Virat_Kohli_in_New_Delhi_in_December_2018.jpg"
      alt="show"
      class="image"
    />
    <div class="div1">
      <h5 class="p1">
        <ul>
          <li>
            Fully functional E-commerce website with features like login, add to
            cart, checkout, and payment gateway.
          </li>
          <li>Technologies used: HTML, CSS, JavaScript.</li>
        </ul>
        <button class="btn1">HTML</button>
        <button class="btn1">CSS</button>
        <button class="btn1">JAVASCRIPT</button>
      </h5>
    </div>
    <a href="https://github.com/Meet47p/Portfolio.git" target="_blank">
      <button class="git">GITHUB</button>
    </a>
  </div>
</div>