<br />
<div class="projects-container">
  <div class="project-card">
    <h2 class="title">E-commerce</h2>

    <img src="../../../assets/ecommerce.png" alt="ddd" class="image" />
    <div class="div1">
      <h5 class="p1">
        <ul>
          <li>
            Fully functional E-commerce website with features like login, add to
            cart, checkout, and payment gateway.
          </li>
          <li>
            Implement secure payment gateways to ensure safe transactions.
          </li>
          <li>Technologies used: HTML, CSS, JavaScript.</li>
        </ul>
        <button class="btn1">HTML</button>
        <button class="btn1">CSS</button>
        <button class="btn1">JAVASCRIPT</button>
        <button class="btn1">PHP</button>
        <button class="btn1">MYSQL</button>
      </h5>
    </div>
    <a href="https://github.com/Meet47p/Ecommerce.git" target="_blank">
      <button class="git">GITHUB</button>
    </a>
  </div>

  <div class="project-card">
    <h2 class="title">Monthly Dashboard</h2>
    <img src="../../../assets/dashboard.png" alt="show" class="image" />
    <div class="div1">
      <h5 class="p1">
        <ul>
          <li>
            Fully functionally Dashboard website with features like add Months,
            data, and view data.
          </li>
          <li>
            Displays essential information about each project, including name,
            objectives, and team members.
          </li>
          <li>Technologies used: HTML5, CSS, Typescript, Angular,Chart.Js.</li>
        </ul>
        <button class="btn1">HTML5</button>
        <button class="btn1">CSS</button>
        <button class="btn1">TYPESCRIPT</button>
        <button class="btn1">ANGULAR</button>
      </h5>
    </div>
    <a href="https://github.com/Meet47p/Dashboard" target="_blank">
      <button class="git">GITHUB</button>
    </a>
  </div>

  <div class="project-card">
    <h2 class="title">Ai-Powered-Resume-Ranker</h2>
    <img src="../../../assets/Resume.png" alt="show" class="image" />
    <div class="div1">
      <h5 class="p1">
        <ul>
          <li>
            A web application will allow candidates to submit their resumes
            easily while providing recruiters with a straightforward way to view
            and assess ranked candidates.
          </li>
          <li>
            The system will automatically analyze resumes to extract relevant
            information, including skills, experience, and qualifications.
          </li>
        </ul>
        <button class="btn1">Python</button>
        <button class="btn1">LLM</button>
        <button class="btn1">HTML</button>
        <button class="btn1">CSS</button>
        <button class="btn1">JAVASCRIPT</button>
      </h5>
    </div>
    <a href="https://github.com/Meet47p/Resume_Ranker.git" target="_blank">
      <button class="git">GITHUB</button>
    </a>
  </div>
</div>
