<section id="experience" class="my-5">
  <h2>Education Qualifications</h2>
  <div class="qualification">
    <h4>Bachelor of Science in Computer Science</h4>
    <p>Indus University, Ahmedabad, Gujarat</p>
    <p><strong>CGPI:</strong> 9.0</p>
    <p><strong>Graduation Year:</strong> 2025</p>
    <p><strong>Relevant Coursework:</strong> Web Development</p>
  </div>

  <div class="qualification">
    <h4>Secondary Education</h4>
    <p>Kameshwar VidhyaVihar, Ahmedabad Gujarat</p>
    <p><strong>Year:</strong> 2019</p>
  </div>

  <h3>Certifications</h3>
  <ul>
    <li>Certified Java language - Internshala (2022)</li>
    <li>Certified Java language - Internshala (2022)</li>
    <li>Data Science with Python - Coursera (2023)</li>
  </ul>
</section>
